<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h5>Lista samochodów</h5>
    <p><a href="{% url 'home' %}"> Home </a></p>
    <ul>
    {% for car in object_list %}
        <li><a href="{% url 'polls:car_edit' car.id %}">
            {{ car.mark }}
            {{ car.plate_numbers }}
            {{ car.production_year }}
            {{ car.owner.first_name }}
            {{ car.owner.last_name }}
            </a>
        </li>

    {% endfor %}
    </ul>
    <p><a href="{% url 'polls:car_create' %}">Add car</a></p>
</body>
</html>
{% endblock %}