<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content %}
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5e5959;">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class ="nav-link" href="{% url 'home' %}"> Home </a>
            </li>
        </ul>
    </nav>
    <table class="table table-dark">
    <tr>
        <th> Imię i nazwisko</th>
        <th> Marka samochodu</th>
        <th> Rok produkcji</th>
        <th> Numery rejestracyjne</th>
        <th> Numer polisy</th>
        <th> Ważność polisy</th>
        <th></th>
    </tr>
        {% for car in car_list %}
            {% for client in object_list %}
                    {% if client.id == car.insured_car.owner_id %}
                        <tr>
                            <td>{{ car.insured_car.owner.first_name }} {{ car.insured_car.owner.last_name }}</td>
                            <td>{{ car.insured_car.mark }}</td>
                            <td>{{ car.insured_car.production_year }}</td>
                            <td>{{ car.insured_car.plate_numbers }}</td>
                            <td>{{ car.policy_number}}</td>
                            <td>{{ car.policy_end_date}}</td>
                        <td>
                            <a class="btn btn-outline-success" href="{% url 'polls:client_detail' client.id car.id%}" role="button">Edytuj</a>
                            <a class="btn btn-outline-warning" href="{% url 'polls:client_detail' client.id car.id%}" role="button">Wiadomość</a>
                        </td>
                        </tr>
                    {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
</body>
<style>
table, th, td {
  border:1px solid black;
}
</style>
</html>
{% endblock %}